cuml==0.6.1.post1
cupy_cuda11x==13.3.0
cupy_cuda12x==13.3.0
datasets==3.1.0
dspy==2.5.41
dspy_ai==2.5.41
hdbscan==0.8.40
huggingface_hub==0.26.2
joblib==1.4.2
matplotlib==3.10.0
networkx==3.4.2
numpy==2.2.0
pandas==2.2.3
peft==0.14.0
pygraphviz==1.14
python_igraph==0.11.8
python_Levenshtein==0.26.1
python_Levenshtein==0.26.1
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
sentence_transformers==3.3.1
seqeval==1.2.2
torch==2.5.1
tqdm==4.66.6
transformers==4.46.3
trl==0.12.2
vllm==0.6.4.post1
